body {
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-family: Lora;
	text-decoration: bold;
} 


#gameBoard {
	background-color: black;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}

#boxRed {
    background-color: red;
    opacity: 0.9;
    height: 180px;
    margin: 2px;
    width: 49%;
    float: left;
    position: relative;
    box-shadow: 3px 3px 2px #d9d9d9;
}

#boxYellow {
    background-color: yellow;
    opacity: 0.9;
    height: 180px;
    margin: 2px;
    width: 49%;
    float: left;
    position: relative;
    box-shadow: 3px 3px 2px #d9d9d9;
}

#boxBlue {
    background-color: blue;
    opacity: 0.9;
    height: 180px;
    margin: 2px;
    width: 49%;
    float: left;
    clear: left;
    position: relative;
    box-shadow: 3px 3px 2px #d9d9d9;
}

#boxGreen {
    background-color: green;
    opacity: 0.9;
    height: 180px;
    margin: 2px;
    width: 49%;
    float: left;
    position: relative;
    box-shadow: 3px 3px 2px #d9d9d9;
}


/*LOOK INTO USING BOOTSTRAP GRID FOR BOXES FOR BETTER RESIZE OPTIONS!*/